@import '~@sparkpost/matchbox/src/styles/config.scss';

.Grid {
  display: grid;
  column-gap: spacing();
  grid-template-columns: 1fr;
  row-gap: spacing();

  @media screen and (min-width: breakpoint(small)) {
    grid-template-columns: 1fr 1fr;
  }
}

.Header {
  padding: spacing(larger);
  text-align: center;
}

.SendIcon {
  margin-right: spacing();
  transform: translate(0, -25%) rotate(-45deg);
}

.ValidationIcon {
  margin-right: spacing();
  transform: translate(0, -10%);
}
