@import '~@sparkpost/design-tokens-hibana/tokens';

.Grid {
  column-gap: spacing(400);
  row-gap: spacing(400);

  @media screen and (min-width: media-query(sm)) {
    grid-template-columns: 1fr 1fr;
  }
}

.Header {
  padding: spacing(600);
}

.SendIcon {
  margin-right: spacing(400);
}

.ValidationIcon {
  margin-right: spacing(400);
}
