@import '~@sparkpost/matchbox/src/styles/config.scss';

.StatusTag :first-child {
  margin-bottom: spacing(smaller);
}

.RightAlignedButtons {
  @media screen and (min-width: breakpoint(small)) {
    width: 50%;
    float: right;
    text-align: right;
  }
}
