@import '~@sparkpost/design-tokens-hibana/tokens';

.ChartHeader {
  padding: spacing(500);
}

.Title {
  font-weight: font-weight(semibold);
  font-size: font-size(400);
}

.Line {
  background: none;
  border-bottom: 0;
  margin: 0;
}
