@import '~@sparkpost/matchbox/src/styles/config.scss';

.ChartHeader {
  display: flex;
  align-items: center;
  padding: spacing();
}

.Title {
  font-weight: 500;
  font-size: font-size(500);
  font-weight: 600;
  margin-bottom: 0;
}

.Line {
  border-bottom: 1px solid color(gray, 9);
  margin: 0;
}

.PrimaryArea {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
