@import '~@sparkpost/matchbox/src/styles/config.scss';

.border-Accepted{
    border-left: 5px solid rgba(84, 131, 23, 0.986)
}
.border-Rejected{
    border-left: 5px solid red
}
.border-Duplicates{
    border-left: 5px solid orange
}

.Tooltip-date {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.Tooltip-label {
    padding: 0;
    padding-left: 20px;
}

.Tooltip-value {
    padding: 0;
    font-weight: 600;
    font-size: 25px;
    padding-left: 20px;
}

.Tooltip-body {
    height: 45px;
    margin-top: 5px;

}