@import '~@sparkpost/matchbox/src/styles/config.scss';
@import 'src/styles/resets';

.PlanPicker {
  border-bottom: 1px solid color(gray, 9);
  position: relative; // for the menu
}

.PlanPickerHeader {
  margin: 0; // OG only
  padding: spacing() spacing() 0;
}

.PlanPickerHelpText {
  margin: 0; // OG only
  padding: 0 spacing() spacing();
}

.PlanPickerList {
  background: color(grey, 10);
  border-radius: 0 0 border-radius(large) border-radius(large);
  box-shadow: shadow(deep);
  left: 0;
  list-style-type: none;
  max-height: rem(300);
  opacity: 0;
  overflow: auto;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -18px);
  transition: 0.15s;
  z-index: 100;

  &.open {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
  }
}

.PlanPickerOption {
  @include button-reset();
  cursor: pointer; // why?
  padding: spacing();
  text-align: left;
  width: 100%;

  &:hover,
  &.highlighted {
    background: color(gray, 9);
  }

  &.selected {
    color: color(orange);
  }
}

.PlanPickerSelectedOption {
  color: color(orange);
}

.PlanPickerTrigger {
  @include button-reset();
  align-items: center; // to vertically center icon
  color: color(orange);
  cursor: pointer; // why?
  display: flex;
  justify-content: space-between; // to align icon to right
  padding: spacing();
  text-align: left;
  width: 100%;

  &:focus,
  &:hover {
    background: color(gray, 9);
  }
}
