@import '~@sparkpost/matchbox/src/styles/config.scss';


.RightAlignedButtons {
  @media screen and (min-width: breakpoint(small)) {
    width: 50%;
    float: right;
    text-align: right;
  }
}

.Icon {
  margin-left: 5px;
  margin-bottom: 3px;
}

.MessageAttribute {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 12vw;
}