@import '~@sparkpost/matchbox/src/styles/config.scss';
@import 'src/styles/status-color';

.Name {
  margin-bottom: 0;
}

.Id {
  margin-bottom: 0;
  line-height: 1.4em;
  font-size: font-size(300);
}

.LastUpdated {
  margin-bottom: 0;
}

.PublishedWithChanges {
  font-style: italic;
  white-space: nowrap;
}

.published {
  white-space: nowrap;
}

.PublishedIconColor {
  color: status-color('success');
}

.Action {
  padding: spacing('small');
  display: inline-flex;
}
