@import '~@sparkpost/design-tokens-hibana/tokens';

.PreviewControlBar {
  border-bottom: 1px solid color(gray, 400);
  padding: 0 spacing(400);
}

.PreviewDeviceButton {
  height: 55px;
  color: color(gray, 600);
  margin-right: spacing(400);
  transition: color motion-duration(fast) motion-ease(in-out);

  &:after {
    height: spacing(100);
    transition: opacity motion-duration(fast) motion-ease(in-out),
      visibility motion-duration(fast) motion-ease(in-out);
  }

  &:hover,
  &:focus {
    color: color(gray, 800);

    &:after {
      background-color: color(gray, 400);
    }
  }

  &.active {
    color: color(blue, 700);

    &:after {
      background-color: color(blue, 700);
    }
  }
}
