@import '~@sparkpost/matchbox/src/styles/config.scss';

.PreviewContainer {
  padding: spacing();
}

.PreviewScreen {
  border: 1px solid color(grey, 8);
  height: 90vh; // must match editor wrapper
  overflow-y: scroll;
  position: relative;
}

.PreviewMobileContainer {
  padding: spacing(larger) 0;
}

.PreviewMobilePhone {
  background: color(grey, 9);
  border: 1px solid color(grey, 8);
  border-radius: 20px;
  height: 736px + 40px + 80px + 2px;
  margin: 0 auto;
  padding: 40px 10px 80px 10px;
  width: 414px + 10px + 10px + 2px;
}

.PreviewMobilePhoneScreen {
  background: white;
  border: 1px solid color(grey, 8);
  border-radius: 2px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}
