@import '~@sparkpost/matchbox/src/styles/config.scss';

.RecentActivity {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: spacing();
  margin-bottom: spacing('large');

  @media (min-width: breakpoint('large')) {
    grid-template-columns: 1fr 1fr 1fr 1fr; // This ensuers that each Panel is full width on wider screens
  }
}

.Panel {
  height: 100%; // Fills grid column to its max
  margin: 0; // Overriding Matchbox defaults
}

.PanelContent {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;
}

.Date {
  color: color(gray, 3);
  font-size: rem(14);
}

.Status {
  display: flex;
  align-items: center;
  color: color(gray, 3);
  font-size: rem(14);
  border: 0;
}

.StatusContent {
  text-transform: uppercase;
  margin-left: spacing('smaller');
}

.PublishedIcon {
  fill: #44d09e;
}

.Meta {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

.Actions {
  align-self: center;
  justify-self: end;
}

.RecentActivityBorder {
  margin: 0;
}

.Link {
  height: 100%;
  display: flex;
  align-items: center;
}

.PanelFooter {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
