@import '~@sparkpost/design-tokens-hibana/tokens';

.RecentActivity {
  grid-gap: spacing(400);
  margin-bottom: 0;
}

.ListItem {
  height: 100%;
}

.PanelContent {
  grid-template-rows: 5fr 2fr;
}

.Date {
  color: color(gray, 700);
  font-size: font-size(200);
}

.Status {
  color: color(gray, 700);
  font-size: font-size(200);
}

.StatusContent {
  margin-left: spacing(200);
}

// 😬 Kind of hacky - this is to target the div following the accent
// If the accent were ever removed, this would probably break
.RecentActivityPanel > div:not(:first-child) {
  height: 100%;
}

.PublishedIcon {
  fill: color(green, 700);
}
