@import '~@sparkpost/matchbox/src/styles/config.scss';

.RecentActivity {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
  grid-gap: spacing();
  margin-bottom: spacing('large');

  @media (min-width: breakpoint('large')) {
    grid-template-columns: 1fr 1fr 1fr 1fr; // This ensuers that each Panel is full width on wider screens
  }
}

.RecentActivityPanel {
  height: 100%; // Fills grid column to its max
  margin: 0; // Overriding Matchbox defaults
}

.RecentActivityPanelContent {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.75fr;
  height: 100%;
}

.RecentActivityDate {
  display: flex;
  align-items: center;
  color: color(gray, 3);
  font-size: rem(14);
}

.RecentActivityStatus {
  display: flex;
  align-items: center;
  color: color(gray, 3);
  font-size: rem(14);
  border: 0;
}

.RecentActivityContent {
  text-transform: uppercase;
  margin-left: spacing('smaller');
}

.RecentActivityPublishedIcon {
  fill: #44D09E;
}

.RecentActivityMeta {
  padding: 0 spacing();
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.RecentActivityMetaContent {
  display: flex;
  align-items: center;
}

.RecentActivityActions {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.RecentActivityAction {
  height: spacing();
}
