@import '~@sparkpost/matchbox/src/styles/config.scss';

.MaxWidthSM {
  max-width: 325px;
}

.MaxWidthMD {
  max-width: 600px;
}

.FieldGroup {
  margin-bottom: spacing('large');
}

.RadioParagraph,
.CardParagraph {
  margin-bottom: 0;
}

.WarmupDocLink {
  margin-top: spacing('small');
}
