@import '~@sparkpost/matchbox/src/styles/config.scss';

.MaxWidthSM {
  max-width: 325px;
}

.MaxWidthMD {
  max-width: 600px;
}

.FieldGroup,
.Card {
  margin-bottom: spacing('large');
}

.RadioGroup {
  margin-bottom: spacing('small');
  border: 0;
  padding-left: 0;
}

.RadioParagraph,
.CardParagraph {
  margin-bottom: 0;
}

.WarmupDocLink {
  margin-top: spacing('small');
}
