@import '~@sparkpost/design-tokens-hibana/tokens';

.FieldGroup,
.Card {
  margin-bottom: spacing(600);
}

.RadioGroup {
  margin-bottom: spacing(200);
}
.RadioParagraph {
  margin-bottom: spacing(300);
}
.WarmupDocLink {
  margin-top: spacing(200);
}
