@import '~@sparkpost/design-tokens-hibana/tokens';

.EngagementChart {
  // similar to match summary line  chart
  :global .recharts-text.recharts-cartesian-axis-tick-value {
    fill: color(gray, 700);
    font-size: font-size(200);
    font-weight: font-weight(normal);
  }

  :global .recharts-cartesian-axis-line {
    stroke: color(gray, 400);
  }

  :global .recharts-cartesian-grid-horizontal line {
    stroke: color(gray, 400);
  }

  :global .recharts-reference-area {
    stroke: color(gray, 700);

    path {
      stroke: color(gray, 500);
    }
  }
}
