@import '~@sparkpost/matchbox/src/styles/config.scss';

.EngagementChart {
  position: relative; // for the completion rate

  // hide the top grid line
  .recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
    stroke-opacity: 0;
  }

  // similar to match summary line  chart
  :global .recharts-text.recharts-cartesian-axis-tick-value {
    fill: color(gray, 5);
    font-size: rem(13);
    font-weight: 500;
  }

  :global .recharts-cartesian-axis-line {
    stroke: color(gray, 7);
  }

  :global .xAxis .recharts-text.recharts-cartesian-axis-tick-value {
    transform: translate(0, 6px);
  }

  :global .recharts-cartesian-grid-horizontal line {
    stroke: color(gray, 8);
  }
}
