@import '~@sparkpost/matchbox/src/styles/config.scss';

.MainLabel {
  display: block;

  .selected & {
    color: color(orange);
  }
}

.DiscountedLabel {
  color: color(gray, 4);
  padding-right: rem(8);
}

.SupportLabel {
  display: block;
  font-size: font-size(500);
  font-weight: 400;
}
