{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "lodash/chaining": ["error", "never"],
    "lodash/import-scope": ["error", "full"],
    "no-restricted-syntax": [
      "warn",
      {
        "message": "☀️ Plz avoid bare strings inside JSX ☀️",
        "selector": "JSXElement[children.length > 1] > Literal[value=/\\w+/]"
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ]
  },
  "extends": [
    "react-app",
    "plugin:lodash/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "plugin:testing-library/recommended"
  ],
  "plugins": ["prettier"]
}
