@import '~@sparkpost/matchbox/src/styles/config.scss';
@import '~src/styles/resets';

.HibanaBanner.HibanaBanner {
  width: 100%;
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 500;
  padding: (spacing() * 0.75) spacing('large');
  border-top: 2px solid color(gray, 7);
  background-color: #fff;
}

.HibanaLink.HibanaLink {
  text-decoration: underline;
  font-weight: 600;
}

.HibanaDescription {
  margin: 0;
  text-align: center;
}

.HibanaDismiss {
  @include button-reset();
  padding: spacing('small');
  position: absolute;
  top: 0;
  right: 0;
}
