@import '~@sparkpost/design-tokens-hibana/tokens';

.FieldWrapper {
  margin-bottom: spacing(400);

  @media (min-width: media-query(md)) {
    margin-bottom: 0;
  }
}

.FieldWrapperMetricsRollup {
  margin-top: spacing(300);

  @media (min-width: media-query(md)) {
    margin-bottom: spacing(400);
    margin-top: 0;
  }
}

.TagWrapper {
  margin: 0 spacing(200);
}

// The Tooltip component sets the display to inline block,
// which messes up the Column flex layout
.TimezoneTooltipWrapper {
  > span {
    display: inherit;
  }
}

.conditional {
  font-style: italic;
}
