@import '~@sparkpost/matchbox/src/styles/config.scss';

.FormContainer {
  margin-top: 1rem;
}

.CancelButtonContainer {
  margin-left: 1rem;
  display: inline;
}

.ScreenReaderOnly {
  @include visually-hidden();
}
