@import '~@sparkpost/matchbox/src/styles/config.scss';

.ActionButton {
  margin-right: spacing(small);
}

.Buttons {
  display: flex;
  justify-content: space-between;
}

.Loading {
  min-height: 100px;
  position: relative;
}
