@import '~@sparkpost/matchbox/src/styles/config.scss';

.LastTriggeredCard {
  display: block;
  height: 10rem;
  padding: 1rem;
  @media screen and (min-width: breakpoint(medium)) { max-width: 26vw; }
  @media screen and (min-width: breakpoint(larger)) { max-width: 13vw; }
  word-wrap: break-word;
  overflow: hidden;
}

.Footer {
  padding: rem(10) rem(0) rem(40);
  height: rem(40);
  text-align: right;
}

.LastTriggeredTime {
  font-size: rem(17);
  display: block;
  margin-bottom: rem(30);
}

.Description {
  position: relative;
  top: -20px;
  width: 75%;
}

.Icon {
  fill: color(gray, 5);
}
