@import '~@sparkpost/matchbox/src/styles/config.scss';

.Divider {
  border-right: 1px solid color(gray, 8);
}
.Panel {
  padding-bottom: 1rem;
}

.Title{
  text-align: center;
  padding: rem(20) rem(20) 0 0;
}

.Deliverability{
  line-height: 2rem;
  font-size: font-size(500);
  font-weight: 500;
  padding-left: rem(50);
}

.Authentication{
  line-height: 2rem;
  padding-left: rem(50);
  font-weight: 500;
  font-size: font-size(500);
  @media screen and (min-width: breakpoint(medium)) { padding-left: rem(20); }
}
