@import '~@sparkpost/matchbox/src/styles/config.scss';

// only needed for OG
.Description {
  width: 75%;
}

.Delimiter {
  margin: 0 spacing(small);
}

.MetricTableCell {
  min-width: 60px;
}

.StatusTag {
  text-transform: capitalize;
}
