@import '~@sparkpost/matchbox/src/styles/config.scss';

.Description {
  position: relative;
  top: -20px;
  width: 75%;
  font-size: medium;
}

.TabbedCellHeader {
  padding: 0 0 0 rem(2.1);
}

.TabbedCellBody {
  padding: rem(0.3) 0 rem(0.3) rem(1);
}

.FilterBox {
  width: 100%;
  float: left;
  margin: 0 spacing() 0 0;
}

.TabbedRow {
  padding-top: 0;
}

.SubjectContainer {
  padding: 0.2rem 1rem 0 0;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.Subject {
  display: inline-block;
}

.TestName {
  display: flex;
  padding: 0 0 0 1.3rem;
  font-size: font-size(300);

  .Divider {
    margin: 0 0.5rem 0 0.5rem;
  }
}

.TestSchedule {
  display: flex;
  padding: 0 0 0 1.2rem;
  font-size: font-size(300);
}

.ScheduleIcon {
  padding: 0 0.2rem 2px 0;
}

.TooltipWrapper {
  display: inline-block;
}

.ColumnHeader {
  margin-bottom: 0;
  font-size: font-size(300);
  padding: 0.4rem 0 0.1rem 0;
}

.ColumnValue {
  height: 2.5rem;
}

.RowTd {
  padding-top: 0;
}
