@import '~@sparkpost/matchbox/src/styles/config.scss';

.LeadText {
  max-width: 60%;
  font-size: font-size(300);
  line-height: line-height(300);
  margin-bottom: spacing('large');
}

.Actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
