@import '~@sparkpost/matchbox/src/styles/config.scss';

.EditContents {
  padding: spacing(large);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: spacing();

  @media (min-width: breakpoint('medium')) {
    grid-template-columns: 1fr 1fr;
  }
}
