@import '~@sparkpost/matchbox/src/styles/config.scss';
@import './phone.scss';

.EditorWrapper {
  height: 90vh; // must match editor wrapper
  min-height: $phone-container-min-height;
  padding: $phone-padding 0;
  background-color: #272727;

  :global(.ace_error) {
    background: linear-gradient(to right, #ff594d 5px, transparent 5px) !important;
    color: inherit !important;
  }

  &.ReadOnly {
    opacity: 0.75;
  }

  &.ReadOnly,
  &.ReadOnly :global(.ace_content) {
    cursor: not-allowed;
  }
}
