@import '~@sparkpost/matchbox/src/styles/config.scss';

.EditSection {
  border-radius: 2px;
  margin-bottom: 0; // Overrides styles that are on the `<Card/>`
}

.TabsWrapper > div {
  box-shadow: none;
  height: 50px; // to match preview control bar
}

.TabsWrapper > div > a {
  height: 100%;
  padding-bottom: 0;
}
