@import '~@sparkpost/matchbox/src/styles/config.scss';

.Navigation {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.NavigationLinks {
  padding-left: spacing(large)*4;
}

.NavigationLink {
  font-size: rem(18);
  color: color(gray, 4); // to match default text
  display: inline-block;
  padding: spacing(large) spacing(large);

  &:hover {
    color: color(orange);
  }
}

.NavigationActiveLink {
  position: relative; // allows absolute positioning within
  color: color(orange);

  &:after {
    content: "";
    display: block;
    width: 75%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    height: rem(4);
    background-color: color(orange);
  }
}

.NavigationPrimaryArea {
  align-items: center;
  display: flex;
  padding: 0 spacing(large);
}
