@import '~@sparkpost/matchbox/src/styles/config.scss';

.Navigation {
  background: #fff;
  display: grid;
  grid-gap: spacing();
  padding: 0 spacing(large) spacing(large);
  box-shadow: shadow();

  @media (min-width: breakpoint(small)) {
    padding: 0 spacing(large) 0 (spacing(large) * 4);
    grid-template-columns: 1fr 1fr;
  }
}

.NavigationLink {
  font-size: rem(18);
  position: relative; // allows absolute positioning within
  color: color(gray, 4); // to match default text
  display: inline-block;
  padding: spacing() spacing(small);
  transition: color 0.2s ease-in-out;

  &:after {
    content: "";
    position: absolute;
    width: 75%;
    left: 12.5%; // 100% - 75% = 25% - divided by 2 is 12.5% (this centers the pseudo element horizontally!)
    bottom: 0;
    height: rem(4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    color: color(gray, 2);

    &:after {
      opacity: 1;
      visibility: visible;
      background-color: color(gray, 8);
    }
  }

  &.active {
    color: color(orange);

    &:after {
      opacity: 1;
      visibility: visible;
      background-color: color(orange);
    }
  }

  @media (min-width: breakpoint(small)) {
    padding: spacing(large);
  }
}

.NavigationActiveLink {
  position: relative; // allows absolute positioning within
  color: color(orange);
}

.NavigationPrimaryArea {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
