@import '~@sparkpost/matchbox/src/styles/config.scss';

.EditSection {
  border-radius: 2px;
  overflow: hidden; // Fixes issue with border radius not containing editor background
  margin-bottom: 0; // Overrides styles that are on the `<Card/>`
}

.TabsWrapper {
  display: flex;
  justify-content: space-between;

  > div {
    box-shadow: none;
    height: 50px; // to match preview control bar and tabs

    > a {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.MoreButton {
  height: 100%;
}
