@import '~@sparkpost/matchbox/src/styles/config.scss';

.PreviewControlBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color(gray, 8);
  padding: 0 spacing();
}

.PreviewDeviceButton {
  height: 50px; // to match preview control bar and tabs
  display: inline-flex;
  align-items: center;
  color: color(gray, 4); // to match default text
  margin-right: spacing();
  position: relative; // allows absolute positioning within
  transition: color 0.2s ease-in-out;

  // Pseudo element that becomes visible when one of the device buttons becomes active
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: rem(4);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    color: color(gray, 2);

    &:after {
      opacity: 1;
      visibility: visible;
      background-color: color(gray, 8);
    }
  }


  &.active {
    color: color(blue);

    &:after {
      opacity: 1;
      visibility: visible;
      background-color: color(blue);
    }
  }
}
