@import '~@sparkpost/matchbox/src/styles/config.scss';
@import './phone.scss';

.PreviewContainer {
  height: 90vh; // must match editor wrapper
  min-height: $phone-container-min-height;
  min-width: 325px;
  overflow: scroll;
  padding: $phone-padding;
}

.PreviewScreen {
  border: 1px solid color(grey, 8);
  height: 100%;
  overflow: scroll;
  position: relative;
}

.PreviewMobileContainer {
  height: 90vh; // must match editor wrapper
  min-height: $phone-container-min-height;
  padding: $phone-padding 0;
}

.PreviewMobilePhone {
  background: color(grey, 9);
  border: 1px solid color(grey, 8);
  border-radius: 40px;
  height: $phone-height;
  margin: 0 auto;
  padding: 40px 10px;
  width: $phone-width;
}

.PreviewMobilePhoneScreen {
  background: white;
  border: 1px solid color(grey, 8);
  border-radius: 2px;
  height: $phone-screen-height;
  overflow: scroll;
  position: relative;
  width: $phone-screen-width;
}
