@import '~@sparkpost/matchbox/src/styles/config.scss';

.SavedIndicator {
  display: inline-flex;
  margin-right: spacing();
  text-transform: uppercase;
  color: color(gray, 3);
  font-weight: 300;
  letter-spacing: 0.0125rem;
}

@keyframes savedIndicator {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.SavedIndicatorContent {
  opacity: 0;
  animation-delay: 0.3s;
  animation: savedIndicator 0.3s ease-in-out forwards;
}
