@import '~@sparkpost/matchbox/src/styles/config.scss';

// Specificity wars 💣💥 -> https://stuffandnonsense.co.uk/archives/css_specificity_wars.html
.LoadingWrapper.LoadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loading {
  // resetting positioning to allow the loader to render inside the modal
  position: initial;
  transform: initial;
  margin: 0;
}
