@import '~@sparkpost/matchbox/src/styles/config.scss';

.LoadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loading {
  // resetting positioning to allow the loader to render inside the modal
  position: initial;
  transform: initial;
  margin: 0;
}
