@import '~@sparkpost/matchbox/src/styles/config.scss';

.Display {
  display: inline-block;
  margin-right: rem(33);
}

.Content {
  margin-bottom: rem(9);
  font-size: font-size(900);
  font-weight: 400;
}

.orange {
  color: color(orange)
}

.Label {
  margin-bottom: 0;
  font-weight: 400;
}

.ProgressTitle {
  display: inline-block;
  font-size: font-size(500);
}

.ProgressSecondary {
  display: inline-block;
  padding-left: rem(9);
  color: color(gray, 4);
  font-size: font-size(300);
  font-weight: 400;
}
