@import '~@sparkpost/matchbox/src/styles/config.scss';

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 375px;
}

.ErrorMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Header {
  font-weight: 500;
  font-size: rem(17);
}

.GaugeSvgContainer {
  position: relative;
}

.Red { fill: #FF594D; }
.Yellow { fill: #FFDA00; }
.Green { fill: #2CC995; }

.NeedleContainer {
  position: absolute;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
}

.NeedleSvg {
  position: relative;
}

.Needle {
  fill: color(gray, 2);
  transform-origin: 50px 64px;
  transition: 0.8s cubic-bezier(0.1,0,.2,1.15);
}

.Text {
  font-size: 5px;
  font-weight: 400;
  fill: color(gray, 4)
}

.Tick {
  stroke: color(gray, 6);
  stroke-dasharray: 3 4;
  stroke-width: 2px;
}

.Score {
  margin-top: rem(-65);
  font-size: rem(45);
  font-weight: 400;
  text-align: center;
}

//
.Description {
  display: flex;
  width: 90%;
  margin: 0 auto spacing(larger);
  align-items: center;
  justify-content: center;
}

.DescriptionIcon {
  flex: 0 0 0;
  min-width: 48px;
}

.DescriptionContent {
  flex: 1 0 0;
  margin: 0;
  max-width: 180px;
  font-size: rem(13);
  line-height: 1.4em;
}

.TooltipIcon {
  color: color(blue);
  margin-top: -0.1em;
}

.Metrics {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
