@import '~@sparkpost/matchbox/src/styles/config.scss';

.Authentication {
  font-weight: normal;
  text-align: center;
  padding: spacing();
}

.DataRow {
  border-top: 1px solid color(gray, 9);
  line-height: 0.3;

  &:last-of-type {
    border-bottom: 0;
  }

  &:first-of-type {
    border-top: 0;
  }
}

.Fail {
  color: color(red);
}

.HeaderCell{
  text-align: center;
  font-weight: normal;
}

.HeaderRow {
  border-bottom: 0;
}

.LeftBorder {
  border-left: 1px solid color(gray, 9);
}

.NoBottomBorder {
  border-bottom: 0;
}

.Pass {
  color: color(green);
}

.SeedCell {
  font-weight: normal;
  padding: spacing();
  width: 40%;
}
