@import '~@sparkpost/matchbox/src/styles/config.scss';

.Title {
  padding: spacing(larger) 2rem;
}

.FilterPanel {
  padding: 0 1rem 0 1rem;
  align-items: center;
  justify-content: center;
}

.TableWrapper {
  overflow-x: auto;

  & > * {
    margin-bottom: 0;
  }
}
