@import '~@sparkpost/matchbox/src/styles/config.scss';

.DataRow {
  &:last-of-type {
    border-bottom: 0px;
  }
}

.HeaderRow {
  border-bottom: 0px;
}

.MailboxProviderCell {
  width: 20%;
  font-weight: normal;
}

.RegionCell {
  border-right: 1px solid color(gray, 8);
  width: 15%;
  word-break: normal;
  font-weight: normal;
}

.Placement, .Authentication {
  text-align: center;
  font-weight: normal;

  &.divider {
    border-left: 1px solid color(gray, 8);
  }
}
.GroupValue {
  font-weight: 600;
}
