@import '~@sparkpost/matchbox/src/styles/config.scss';

.TabbedCellHeader {
  padding: 0 0 0 2.1rem;
}
.TabbedCellBody {
  padding: 0 0 0 1.1rem;
}

.Title {
  padding: spacing(larger) 2rem;
}

.FilterBox {
  padding: spacing(larger) 2rem spacing(base);
}

.TableWrapper {
  overflow-x: auto;

  & > * {
    margin-bottom: 0;
  }
}