@import '~@sparkpost/design-tokens-hibana/tokens';

.BreakdownFilters {
  grid-gap: spacing(400);
}

.FolderAuthenticationPanel {
  > div {
    height: 100%;
  }
}

.FolderAuthenticationPanels {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: spacing(400);

  @media (min-width: media-query(sm)) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: media-query(md)) {
    grid-template-columns: 10fr 9fr;
  }

  @media (min-width: media-query(lg)) {
    grid-template-columns: 10fr 7fr;
  }
}
