@import '~@sparkpost/matchbox/src/styles/config.scss';

.BreakdownFilters {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: spacing();
}

// this is unfortunate, but can be removed with OG
.ClearSection {
  clear: both;
  margin-bottom: spacing();
}

.FolderAuthenticationPanels {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: spacing();

  @media (min-width: breakpoint(small)) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: breakpoint(medium)) {
    grid-template-columns: 10fr 9fr;
  }

  @media (min-width: breakpoint(large)) {
    grid-template-columns: 10fr 7fr;
  }
}

.StatusTag {
  text-transform: capitalize;
}
