@import '~@sparkpost/matchbox/src/styles/config.scss';

.Filters {
  display: grid;
  grid-gap: spacing();
  grid-template-columns: 1fr 1fr;

  @media (max-width: breakpoint(small)) {
    grid-template-columns: 1fr;
  }
}

.SelectedFilters {
  display: flex;
  margin-top: spacing();
}

.SelectedFiltersLabel {
  margin-right: spacing();
}
