@import '~@sparkpost/matchbox/src/styles/config.scss';

.Filters {
  display: grid;
  grid-column-gap: spacing();
  grid-row-gap: spacing();
  grid-template-columns: 1.25fr 1fr auto auto;
}

.ScreenReaderOnlyLabel {
  @include visually-hidden();
}

.DateFilter {
  @media only screen and (max-width: breakpoint(medium)) {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

.RecipientFilter {
  @media only screen and (max-width: breakpoint(medium)) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
