@import '~@sparkpost/design-tokens-hibana/tokens';

.Filters {
  grid-column-gap: spacing(400);
  grid-row-gap: spacing(400);
}

.DateFilter {
  @media only screen and (max-width: media-query(md)) {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

.RecipientFilter {
  @media only screen and (max-width: media-query(md)) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
