@import '~@sparkpost/matchbox/src/styles/config.scss';

.EditorNav {
  position: sticky;
  width: 100%;
  top: rem(56); // Note `top` offset by the exact height of the navigation above found in `FullPage.module.scss`
  z-index: 50;

  @media (min-width: breakpoint(small)) {
    position: fixed;
  }
}

.MainContent {
  margin-top: 0;

  @media (min-width: breakpoint(small)) {
    margin-top: 70px;
  }
}

.GreenColor {
  color: #44D09E;
}

.Status {
  display: flex;
  align-items: center;

  * {
    line-height: 100%;
  }

  svg {
    margin-left: spacing(small);
  }

  span {
    text-transform: uppercase;
  }
}
