@import '~@sparkpost/matchbox/src/styles/config.scss';

.Email {
  display: inline-block;
  vertical-align: middle;

  line-height: line-height(400);
  font-size: font-size(400);
  color: color(gray, 5);
  transition: 0.15s;

  &:hover, &:active, &:focus {
    color: color(gray, 10);
  }
}

.AccountList {
  width: rem(260);
}

.FloatIcon {
  float: right;
  margin-top: -0.1em;
}
