@import '~@sparkpost/matchbox/src/styles/config.scss';

.NestedList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: rem(13);

  > * {
    margin-left: rem(56);
  }


  > :last-child{
    border-bottom: 1px solid color(gray, 8);
    padding-bottom: rem(13);
  }
}

.Link, .Link:visited {
  position: relative;
  display: flex;
  padding: rem(9) rem(18);
  color: color(gray, 2);

  text-decoration: none;
  border-bottom: none;
  font-size: font-size(400);
  font-weight: 500;
  line-height: line-height(500);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.15s ease-in-out;
  user-select: none;

  &.mobile {
    padding: rem(15) rem(18);
    font-size: rem(16);
  }

  &.divider {
    border-top: 1px solid color(gray, 8);
    margin-top: rem(18);
    padding-top: rem(20);
  }

  &:hover {
    color: color(gray, 0);
    cursor: pointer;
    .chevron { fill: color(gray, 1); }
    .icon { fill: color(gray, 1); }
  }

  &:focus {
    color: color(gray, 0);
  }

  &.isActive:not(.hasChildren) {
    color: color(orange);
    font-weight: 500;
    .icon { fill: color(orange); }
  }

  &.hasChildren {
    & + .NestedList {
      display: none;
    }
  }

  &.hasChildren.isOpen {
    .chevron {
      transform: translate(0, -50%) rotate(90deg);
    }

    & + .NestedList {
      display: block;
    }
  }
}

.NestedList .Link {
  padding: rem(4) rem(18) rem(4) rem(8);
  font-weight: 400;

  &.isActive {
    font-weight: 500;
  }

  &.mobile {
    padding: rem(10) spacing(large);
  }

  &.divider {
    border-top: 1px solid color(gray, 8);
    margin-top: rem(10);
    padding-top: rem(12);
  }
}

.iconWrapper {
  display: inline-block;
  width: rem(36);
}

.icon {
  fill: color(gray, 5);
  transition: 0.1s;
}

.chevron {
  position: absolute;
  top: 50%;
  right: rem(15);
  width: rem(24);
  height: rem(24);
  transform: translate(0, -50%) rotate(-90deg);
  fill: color(gray, 6);
}

.Label {
  flex: 1 0 0;
}

.releaseTag {
  align-self: flex-end;
  font-weight: 500;

  * {
    font-size: font-size(200);
  }
}
