@import '~@sparkpost/matchbox/src/styles/config.scss';
@import 'src/styles/resets';

.Top {
  position: fixed;
  z-index: z-index(overlay) - 2;
  left: 0;
  right: 0;
  top: 0;
  height: rem(56);

  background: color(gray, 1);

  display: flex;

  :global(.heroku-boomerang-loaded) & {
    top: 30px;
  }
}

.Logo {
  flex: 0 0 0;
  padding: rem(9) spacing() rem(15);
  min-width: rem(280);
  height: 100%;
  border-right: 1px solid darken(color(gray, 1), 3);
}

.MobileLogo {
  flex: 1 0 0;
  padding: rem(6) spacing() rem(18);
  height: 100%;
  text-align: center;
  outline-offset: -5px; // insets focus outline to make it visible

  &:focus {
    outline-color: color(gray, 10);
  }
}

.RightSideWrapper, .MobileAccountDropdownWrapper {
  flex: 1 0 0;
  text-align: right;
  padding: rem(14) spacing();
}

.MobileAccountDropdownWrapper {
  flex: 0 0 0;
}

.Menu,
.SupportButton {
  @include button-reset();
  transition: color 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: color(gray, 10);
  }

  &:focus {
    outline-color: color(gray, 10);
  }
}

.Menu {
  flex: 0 0 0;
  padding: rem(14) spacing();
  color: color(gray, 7);
  outline-offset: -5px; // insets focus outline to make it visible
}

.SupportButton {
  margin-right: spacing();
  color: color(gray, 5);
}

.SupportIcon {
  fill: currentColor;
}
