@import '~@sparkpost/matchbox/src/styles/config.scss';
@import 'src/styles/status-color';


.CheckBoxContainer { 
  width: 40px;
  float: left;
  max-height: 40px;
  @media screen and (min-width: breakpoint(smaller)) {
    height: 100%;
  }
}

.ListItemContainer{
  float: left;
  padding-top: spacing(small);
  padding-left: spacing(small);
  @media screen and (min-width: breakpoint(smaller)) {
    height: 100%;
  }
}

.ListActionContainer{
  float: right;
}

.CheckCircleIcon{
  color: status-color(success);
}

.GuideListItem{
  font-weight: 600;
}

.GuideListItemDescription{
  padding-top: 10px;

}