@import '~@sparkpost/matchbox/src/styles/config.scss';
@import 'src/styles/status-color';

.GuideListItemContainer {
  display: flex;
}

.CheckBoxContainer {
  width: 40px;
  max-height: 40px;
  @media screen and (min-width: breakpoint(smaller)) {
    height: 100%;
  }
}

.ListItemContainer {
  padding-top: spacing(small);
  padding-left: spacing(small);
  flex-grow: 1;
  @media screen and (min-width: breakpoint(smaller)) {
    height: 100%;
  }
}

.ListActionContainer {
  float: right;
}

.CheckCircleIcon {
  color: status-color(success);
}

.GuideListItem {
  font-weight: 600;
}

.GuideListItemDescription {
  padding-top: 10px;
}
