@import '~@sparkpost/matchbox/src/styles/config.scss';

.CheckBoxContainer { 
  width: 40px;
  float: left;
  max-height: 40px;
  @media screen and (min-width: breakpoint(smaller)) {
    height: 100%;
  }
}

.ListItemContainer{
  float: left;
  @media screen and (min-width: breakpoint(smaller)) {
    height: 100%;
    max-width: 450px;
  }
}

.ListActionContainer{
  float: right;
}

.CheckCircleIcon{
  color: green;
}

.GuideListItem{
  font-weight: 600;
}

.GuideListItemDescription{
  padding-top: 10px;

}