@import '~@sparkpost/matchbox/src/styles/config.scss';

.modalContainer {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
}

.bodyContainer {
  padding: rem(70) spacing() spacing(larger);
}

.SuccessMessage {
  font-size: font-size(900);
  font-weight: 500;
  margin-top: spacing(larger);
  margin-bottom: rem(50);
}

.CloseButton {
  float: right;
}
