@import '~@sparkpost/matchbox/src/styles/config.scss';

.FilterBox {
  padding: spacing() spacing() spacing(smaller) 0;
  @media screen and (max-width: breakpoint(medium)) {
    padding-left: spacing();
  }
}

.DatePicker {
  padding: spacing() 0 spacing(smaller) spacing();
  @media screen and (max-width: breakpoint(medium)) {
    padding-right: spacing();
  }
}

.Details {
  font-size: font-size(500);
  font-weight: 600;
  line-height: spacing(larger);
}

.Listing {
  margin-bottom: spacing(larger);
  margin-top: 0;
}

.Center {
  @include text-style-heading;
  text-align: center;
  padding: rem(100) 0;
  color: color(gray, 6);
}
