@import '~@sparkpost/matchbox/src/styles/config.scss';

.NameDetails {
  font-size: font-size(500);
  font-weight: 600;
}

.ListingDetails {
  font-size: font-size(500);
  font-weight: 600;
  text-align: right;
}

.Delete {
  text-align: right;
  padding-right: spacing(large);
}

.Icon {
  fill: color(gray, 5);
}
