@import '~@sparkpost/matchbox/src/styles/config.scss';

$easy-peasy-red: rgb(210, 75, 55);
$easy-peasy-red-light: scale-color($easy-peasy-red, $lightness: 10%);
$easy-peasy-red-dark: scale-color($easy-peasy-red, $lightness: -20%);
$easy-peasy-silver: rgb(175, 175, 175);
$easy-peasy-silver-dark: scale-color($easy-peasy-silver, $lightness: -33%);
$element-size: 10rem;
$base-padding: 0.7rem;

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.ThatWasEasyButton {
  width: $element-size;
  height: $element-size;
  background: radial-gradient(
    circle at center,
    $easy-peasy-silver,
    scale-color($easy-peasy-silver, $lightness: 50%)
  );
  padding: $base-padding;
  border: 0.125rem solid rgba($easy-peasy-silver, 0.25);
  box-shadow: 0 ($base-padding / 2) $base-padding -8px rgba(#000, 0.33);
}

.ThatWasEasyButton,
.ThatWasEasyButtonButton {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ThatWasEasyButtonButton {
  position: relative;
  background-color: $easy-peasy-red;
  border: 0;
  outline: none;
  border: ($base-padding / 6) solid $easy-peasy-red-dark;
  box-shadow: inset 0 -#{$base-padding / 1.75} 0 0 $easy-peasy-red-dark,
    0 $base-padding / 2 $base-padding / 2 -#{$base-padding / 3} rgba(#000, 0.25);
  height: 100%;
  width: 100%;
  transition: background-color 0.33s ease-in-out, box-shadow 0.1s linear, transform 0.1s linear;

  &:hover,
  &:focus {
    background-color: $easy-peasy-red-light;
  }

  &:active {
    box-shadow: inset 0 -#{$base-padding / 5} 0 0 $easy-peasy-red-dark;
    transform: translateY($base-padding / 5);
  }
}

.isDisabled,
.isLoading {
  pointer-events: none;
}

.isLoading {
  cursor: wait;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.66;
}

.ThatWasEasyButtonContent {
  color: #fff;
  font-weight: 700;
  font-size: 3.25em;
  font-family: 'Helvetica';
  text-shadow: 0 0.0125em 0.125em $easy-peasy-red-dark;
  transform: rotate(-12deg) translateY(-5px);
}

.ThatWasEasyButtonHighlight {
  display: block;
  background: linear-gradient(15deg, transparent, rgba(#fff, 0.25));
  position: absolute;
  top: $base-padding / 2;
  left: $base-padding;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  z-index: 5;
  top: 0%;
  left: 12.5%;
  width: 75%;
  height: 75%;
}

.ThatWasEasyButtonLoader {
  border: $base-padding / 3 solid;
  border-color: $easy-peasy-red;
  border-top-color: #fff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: rotate 1s linear infinite;
}
