@import '~@sparkpost/matchbox/src/styles/config.scss';

.CardGroup{
    display: flex;
}

.CardContainer{
    flex-grow :1;
    border-radius: 5px;
    border: 1px solid color(gray,5);
    padding: 15px;
}
.CardTitle{
    display: block;
    color: color(gray,3);
    font-weight: 600;
    font-size: font-size(500);
}
.CardContent{
    display: inline-block;
    max-width: 450px;
    margin-top: spacing('small')*2;
    margin-bottom: spacing('larger');
    font-size: font-size(500);
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}
