@import '~@sparkpost/design-tokens-hibana/tokens';

.Wrapper {
  bottom: spacing(400);
  left: spacing(400);
  top: unset;
  right: unset;
  z-index: 9999; // Overlay all other overlays!
  text-align: left;

  :global(.heroku-boomerang-loaded) & {
    top: unset;
  }
}

.Alert {
  padding-top: spacing(400);
  padding-bottom: 0;
}
