@import '~@sparkpost/matchbox/src/styles/config.scss';

.currentPlan {
  color: color(gray, 5);

  .Title {
    font-weight: 500;
  }
  
  .Plan {
    margin: 1rem 0 0 1rem;
  }
}

.DeprecatedWarning {
  color: color(red);
  display: flex;
  font-size: rem(14);
  line-height: 1.2em;
  .content {
    padding: 0 20px;
    flex: 1 0 0;
  }
}



