@import '~@sparkpost/design-tokens-hibana/tokens';

.Feature {
  display: flex;
  margin: spacing(400) 0;

  .description {
    margin-right: spacing(600);
    font-size: font-size(200);
  }

  & > :first-child {
    padding-right: spacing(600);
    flex-grow: 1;
  }
}

.Label {
  font-weight: font-weight(medium);
}

.FeatureListStatus {
  display: flex;
}

.FeatureListIcon {
  margin-right: spacing(200);

  &.success {
    color: color(green, 700);
  }

  &.danger {
    color: color(red, 700);
  }
}
