@import '~@sparkpost/matchbox/src/styles/config.scss';

.banner {
  background-color: color(orange);
  position: fixed;
  z-index: z-index(overlay) - 2;
  top: rem(56);
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: font-size(500);
  height: rem(56);
  line-height: rem(56);
  display: flex;
}

.RenewButton {
  color: white;
  border: 2px solid white;
  margin-left: 2rem;
  padding-left: initial 1rem;
}

.CenterContainer {
  flex: 1 0 0;
}

.Close {
  color: white;
  text-align: right;
  flex: 0 0 0;
}
