@import '~@sparkpost/matchbox/src/styles/config.scss';

.PriceTable {
  top: 0;
  left: 0;
  position: relative;
}

.EmptyTier {
  color: color(gray, 8);
}

.Bold {
  font-weight: 600;
}

.PriceRow {
  margin: 10px 20px;
}

.TotalCost {
  color: color(orange);
  font-weight: 600;
  margin: 0 20px;
  padding: 15px 0;
  border-top: 1px solid color(gray, 9);
}

.modalContainer {
  max-width: 660px;
  margin: 0 auto;
}
