@import '~@sparkpost/design-tokens-hibana/tokens';

.Container {
  padding: spacing(0) spacing(0);
}

.Header {
  margin: spacing(300) 0;
  font-size: font-size(300);
}

.SubHeader {
  margin: spacing(600) 0 0 0;
  font-size: font-size(200);
}

.ExampleMethod {
  font-size: font-size(100);
  background-color: color(gray, 200);
}

.ApiDocsLink {
  margin-left: spacing(300);
}

.Method {
  margin-right: spacing(800);
  color: color(blue, 800);
}

.CodeSection {
  // margin-top: spacing(100);

  * {
    // font-size: font-size(200);
  }
}

.white {
  color: color(gray, 100);
}
