@import '~@sparkpost/matchbox/src/styles/config.scss';

.Container {
  padding: rem(20) rem(30);
}

.Header {
  margin: spacing(larger) 0;
  font-size: rem(20);
  font-weight: 600;
}

.SubHeader {
  margin: spacing(larger) 0 0 0;
  font-size: rem(16);
  font-weight: 600;
}

.ExampleMethod {
  font-size: rem(13);
  background-color: color(gray, 9);
  padding: 4px;
}

.ApiDocsLink {
  margin-left: spacing();
}

.Method {
  margin-right: rem(10);
  color: color(orange);
  font-weight: 600;
}

.CodeSection {
  margin-top: rem(15);
  margin: 1rem;
  min-width: 350px;

  * {
    font-size: rem(13);
  }
}

.tab {
  padding-left: 1em;
}

.blue {
  color: #8fc4fe;
}

.white {
  color: color(gray, 9);
}
