@import '~@sparkpost/design-tokens-hibana/tokens';

.panel {
  border-radius: border-radius(0);
}

.preformattedText {
}

.textBody {
  padding: spacing(300);
  font-family: font-family(monospace);
}

.line {
}
