@import '~@sparkpost/matchbox/src/styles/config.scss';

.panel {
  background: #3C3C40;
  border-radius: border-radius();
  height: 100%;
}

.preformattedText {
  color: white;
}

.textBody {
  color: white;
  padding: spacing();
  font-family: font-family(monospace);
}

.line {
  font-weight: 100;
}