@import '~@sparkpost/design-tokens-hibana/tokens';

.Field {
  padding: spacing(300) 0;
}

.Help {
  font-size: font-size(300);
}

.Header {
  font-size: font-size(500);
  margin-bottom: spacing(200);
}

.SubHeader {
  margin-bottom: spacing(0);
  font-size: font-size(200);
  color: color(gray, 700);

  a {
    font-weight: font-weight(normal);
    color: color(blue, 700);
  }
}

.Dropzone {
  margin: spacing(200) 0;
  padding: spacing(800);

  &:hover,
  &.Active {
    border: 1px dashed color(gray, 300);
  }
}

.FileTypeWrapper {
  & > * {
    padding: spacing(100);
    border: 1px solid color(gray, 300);
    margin: 0 spacing(300);
  }

  path {
    fill: color(gray, 300);
  }
}

.LoadingWrapper {
  height: 20rem;
}
