@import 'src/styles/status-color';

.Loading {
  color: color(orange);
}

.LoadingWrapper {
  padding: rem(100) 0 rem(100);
  text-align: center;
}

.Complete {
  color: status-color('success');
}

.Failed {
  color: status-color('error');
}

.Ready {
  color: status-color('info');
}
