@import 'src/styles/status-color';

.JobStatusTagContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Complete {
  color: status-color('success');
}

.Failed {
  color: status-color('error');
}

.Loading {
  color: color(orange);
}

.Ready {
  color: status-color('info');
}
