@import 'src/styles/status-color';

.Loading {
  color: orange;
}

.LoadingWrapper {
  padding: rem(100) 0 rem(100);
  text-align: center;
}

.Complete {
  color: status-color('success');
}

.Failed {
  color: status-color('error');
}

.PanelHeader {
  font-size: 1.2em;
}

.TableHeader {
  border-bottom: 0;
}

.TableCell {
  padding: 2px;
}

.TableContainer {
  margin-top: 1rem;
}

.DownloadButton {
  text-align: right;
}
