@import '~@sparkpost/matchbox/src/styles/config.scss';

.Table {
  padding: rem(30) rem(45) rem(15);
  font-size: rem(17);
}

.Description {
  margin-bottom: rem(60);
  p {
    @media screen and (min-width: breakpoint(large)) { margin-right: 25%; }
  }
}
