@import '~@sparkpost/design-tokens-hibana/tokens';

.email {
  color: color(blue, 1000);
}

.validIcon {
  color: color(green, 700);
}

.invalidIcon {
  color: color(red, 700);
}

.IconWrapper {
  width: rem(36);
  padding-right: spacing(100);
}

.Paragraph {
  padding-left: spacing(300);
}

.Header {
  margin: spacing(300) 0;
  font-size: font-size(400);
}
