@import '~@sparkpost/matchbox/src/styles/config.scss';

.formContainer {
  padding: 12px;
}

.CountBox {
  border: 2px solid color(gray, 8);
  text-align: center;
  font-size: 2.5em;
  line-height: 1.6em;
  font-weight: 100;
  margin-top: .5em;
  margin-bottom: 2rem;

  .Number {
    font-weight: 500;
  }
}

.ButtonRow {
  margin-top: 4rem;
  margin-bottom: 1.5rem;

  .ActionButton {
    margin-right: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.Cost {
  font-size: 2.5em;
  line-height: 1.6em;
  font-weight: 400;
  margin-top: .5em;
  margin-right: 1em;
  display: inline-block;
}

.descriptionParagraph {
  margin-bottom: 3rem;
  font-size: 90%;
}

.modalContainer {
  max-width: 600px;
  margin: 0 auto;
}

.bodyContainer {
  padding: 2rem 3rem;
}

.rvModalCell {
  padding: 8px 0;
}

.LoadingCostContainer {
  margin-top: .5em;
  margin-right: 1em;
}
