@import '~@sparkpost/design-tokens-hibana/tokens';

.RateValue {
  font-size: font-size(600);
  font-weight: font-weight(semibold);
  line-height: line-height(400);
  color: color(gray, 900);
}

.RateTitle {
  color: color(gray, 700);
  font-size: font-size(300);
  font-weight: font-weight(normal);
  margin-bottom: spacing(400);

  @media (min-width: media-query(sm)) {
    margin-bottom: 0;
  }
}

.Description {
  font-size: font-size(300);
  color: color(gray, 900);

  strong {
    color: color(gray, 900);
  }
}

.Panel {
  padding: unset;
}

.Secondary {
  color: color(gray, 700);
}
