@import '~@sparkpost/design-tokens-hibana/tokens';

.MetricCard {
  padding-bottom: 0;
  margin-bottom: spacing(400);
  height: auto;
}

.Panel {
  padding: 0;
  margin-bottom: 0;
}

.Value {
  font-size: font-size(600);
  font-weight: font-weight(semibold);
  line-height: line-height(400);
  color: color(gray, 900);
}

.Label {
  color: color(gray, 700);
  font-size: font-size(300);
  font-weight: font-weight(normal);
  margin-bottom: 0;
}

.TooltipIcon {
  transform: translateY(-1px);
  fill: color(blue, 700);
}
