@import '~@sparkpost/matchbox/src/styles/config.scss';

.FieldWrapper {
  margin-bottom: spacing();
  @media screen and (min-width: breakpoint(small)) {
    margin-bottom: 0;
  }
}

.FieldWrapperMetricsRollup {
  margin-top: 20px; // Matches the label height of other fields
  @media screen and (max-width: breakpoint(small)) {
    margin-bottom: spacing();
    margin-top: 0;
  }
}

.TagWrapper {
  margin: 0 spacing(small);
}

// The Tooltip component sets the display to inline block,
// which messes up the Column flex layout
.TimezoneTooltipWrapper {
  > span {
    display: inherit;
  }
}
