@import '~@sparkpost/design-tokens-hibana/tokens';

.SubaccountFilter {
  border: 1px solid color(gray, 400);
  > span {
    display: block !important;
    > span {
      display: block !important;
    }
  }
}
.BackButton {
  color: color(gray, 400);
  left: spacing(200);

  &:hover {
    color: color(gray, 100);
  }
}

.ButtonIcon {
  right: spacing(200);
  size: 36px;
  transform: translate(0, -50%);
  color: color(blue, 700); // to match other selects
}

.ButtonLabel {
  color: color(gray, 800); // match other selects
  margin-right: spacing(200);
  max-width: spacing(200);
}

.SubaccountSearch {
  padding: spacing(200);
}

.SubaccountSearchHeader {
  border-bottom: 1px solid color(gray, 800);
  color: color(gray, 400);
  padding: spacing(200) spacing(100);
}
