@import '~@sparkpost/matchbox/src/styles/config.scss';

.Popover {
  width: rem(640);
  padding: spacing();
}

.Apply {
  margin-right: spacing();
}

.Error {
  display: inline-block;
  margin-left: spacing();
  vertical-align: middle;
  line-height: rem(18);
}

.Label {
  @include visually-hidden();
}
