@import '~@sparkpost/matchbox/src/styles/config.scss';

.Form {
  padding: rem(20);
}

.SingleFilter {
  padding: rem(20) 0 rem(5);
}

.MetricSelector {
  padding: rem(10) 0 rem(30);
}

.Evaluator {
  padding: rem(15) 0 rem(20);
}

.OptionalText {
  color: color(gray,5);
  font-size: rem(13);
  font-weight: normal;
}

.SubmitButton {
  margin-top: rem(30);
}
