@import '~@sparkpost/matchbox/src/styles/config.scss';

.Icon {
  fill: color(gray, 5);
}

.TabbedCellBody {
  padding: 0 0 0 2rem;
}
.TabbedCellHeader {
  padding: 0 0 0 1rem;
}

.FilterBox {
  padding: spacing(large) 1rem spacing(base);
}

.TableWrapper {
  overflow-x: auto;

  & > * {
    margin-bottom: 0;
  }
}

