@import '~@sparkpost/matchbox/src/styles/config.scss';


.Subtitle {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: rem(5);
}

.AlertName {
  font-weight: bold;
  font-size: 16px;
}

.Panel {
  padding: rem(20) rem(35);
}

.ButtonGroup {
  float: right;

  .Button {
    margin: 0 rem(10);
    width: rem(100);
  }
}

.Tags {
  margin: 0 rem(5);
}

.TagsWithIcon {
  margin: 0 rem(5);
  position: relative;
  top: rem(-3);

  .Icon {
    height: rem(20);
    width: rem(20);
    position: relative;
    top: rem(5);
  }
}
