@import '~@sparkpost/matchbox/src/styles/config.scss';

.Title {
  display: inline;
  position: relative;
  top: rem(8);
}

.ValueLabel {
  display: inline;
  font-weight: 600;
  font-size: rem(15);
}

.Tags,
.FirstTag,
.TagsWithIcon {
  margin: 0 rem(5) rem(10);
}

.FirstTag {
  margin-left: 0;
}

.TagsWithIcon {
  position: relative;
  top: 2px;

  .Icon {
    margin-left: 0;
    height: rem(18);
    width: rem(18);
  }
  .TagText {
    margin: 0 0 0 rem(5);
  }
}
