@import '~@sparkpost/design-tokens-hibana/tokens';

.MetricSelector {
  padding: 0;
}

.Filters {
  padding-top: 0;
}

.Evaluator {
  padding-top: 0;
}

.Notifications {
  padding-top: 0;
}

.OptionalText {
  font-weight: font-weight(normal);
}

.SubmitButton {
  margin-top: 0;
}
