@import '~@sparkpost/matchbox/src/styles/config.scss';

.Icon {
  fill: color(gray, 5);
}

.AlertNameLink {
  font-weight: 600;
}

.FilterBox {
  padding: 1rem 1rem ;
}

.TableWrapper {
  overflow-x: auto;

  & > * {
    margin-bottom: 0;
  }
}
