@import '~@sparkpost/matchbox/src/styles/config.scss';

.Icon {
  margin-left: spacing(small);
}

.AlertNameLink {
  font-weight: 600;
}

.FilterBox {
  padding: spacing();
}

.TableWrapper {
  overflow-x: auto;

  & > * {
    margin-bottom: 0;
  }
}
