@import '~@sparkpost/matchbox/src/styles/config.scss';

.NotificationCenterTrigger {
  transform: translateY(3px); // Hacky - used to vertically center the button inside the popover trigger that comes from Matchbox
  margin-right: spacing();
  color: color(gray, 5);
  transition: color 0.15s ease-in-out;
  user-select: none;

  &:hover,
  &:focus {
    cursor: pointer;
    color: color(gray, 10);
  }

  &:focus {
    outline-color: currentColor;
  }
}

.UnreadIcon {
  color: color(blue);
  fill: color(gray, 5);
}

.ListWrapper {
  max-height: rem(450);
  overflow: auto;
}

.Empty {
  padding: spacing();
  width: rem(210);
}
