@import '~@sparkpost/design-tokens-hibana/tokens';

.MetricDisplay {
  &:not(:last-child) {
    margin-right: spacing(600);
  }
}

.Label {
  color: color(gray, 800);
  font-weight: font-weight(semibold);
  font-size: font-size(300);
}

.Value {
  color: color(gray, 800);
  font-weight: font-weight(normal);
  font-size: font-size(400);
}

.Icon {
  top: 0;
}
