@import '~@sparkpost/design-tokens-hibana/tokens';

.ChartSection {
  position: relative;
  min-height: 250px;
}

.Line {
  margin: 0;
}

.Loading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SelectMetrics {
  margin-top: spacing(100);
  margin-left: spacing(300);
  text-align: left;

  & * {
    text-align: left;
  }

  @media screen and (min-width: media-query(sm)) {
    margin-top: 0;
    margin-left: 0;
    text-align: right;
  }
}
