@import '~@sparkpost/matchbox/src/styles/config.scss';

.ActionItem {
  a {
    font-weight: 400;
    display: block;
    padding: rem(9) spacing();
    color: color(gray, 4);
    transition: 0.15s;
    cursor: pointer;
    font-size: rem(15);

    &:hover {
      background: color(gray, 9);
      color: color(gray, 1);
    }
    svg {
      margin-right: spacing(small) * 1.5;
    }
  }
}

.Actions {
  display: inline-block;
}

.ActionsBody {
  margin-top: 3px;
}

.Divider {
  margin-bottom: 0;
  margin-top: 0;
}
