@import '~@sparkpost/matchbox/src/styles/config.scss';

.Content {
  background: color(gray, 1);
  border: 1px solid color(gray, 1);
  border-radius: border-radius(large);
  color: color(gray, 10);

  & > span { // tip
    background: color(gray, 1);
    border: none !important;
  }
}
