@import url('/static/fonts/calibre/calibre.css');
@import '~@sparkpost/matchbox/styles.scss'; // Global Compiled
@import '~@sparkpost/matchbox/src/styles/config.scss';

// All components use REMs for sizing
// Adjusting the root font size here will scale the UI proportionally

html {
  font-size: 16px;
  @media screen and (min-width: breakpoint(medium)) {
    font-size: 18px;
  }
  @media screen and (min-width: breakpoint(larger)) {
    font-size: 20px;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid color(gray, 8);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
}

code {
  font-size: font-size(200);
}
