@import '~@sparkpost/matchbox/src/styles/config.scss';
@import 'src/styles/resets';

.IconButton {
  @include button-reset();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
