@import '~@sparkpost/design-tokens-hibana/tokens';
@import '~src/styles/resets';

.SortLabel {
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  width: 100%;
  text-align: inherit; // Inherits from `th` parents
  padding: spacing(100) 0; // Fixes weird focus style problem

  &:hover,
  &:focus {
    .Down,
    .Up {
      background-color: color(blue, 200);
      color: color(blue, 700);
    }
  }
}

.leftAligned {
  justify-content: flex-start;
}

.rightAligned {
  justify-content: flex-end;
}

.Down,
.Up {
  @include button-reset();
  display: flex;
  align-items: center;
  justify-content: center;
  height: spacing(400);
  width: spacing(400);
  padding: 0;
  margin: 0;
  margin-left: spacing(200);
  border-radius: border-radius(100);
  color: color(gray, 700);
  background-color: transparent;
  transition: background-color motion-duration(fast) motion-ease(in-out),
    color motion-duration(fast) motion-ease(in-out);
}

.SortLabel.selected .Up,
.SortLabel.selected .Down {
  color: color(white);
  background-color: color(blue, 700);
}
