@import '~@sparkpost/matchbox/src/styles/config.scss';

.DetailGroup {
  display: flex;
  flex-direction: column;
  font-size: font-size(300);

  .Value {
    margin-top: spacing(small);
  }
}

.HistoricalIncidents {
  @media screen and (max-width: breakpoint(medium)) {
    margin-top: spacing();
  }
}

.EngagementButton {
  margin-top: spacing();
}
