@import '~@sparkpost/design-tokens-hibana/tokens';

.DetailGroup {
  font-size: font-size(300);

  .Value {
    margin-top: spacing(200);
  }
}

.HistoricalIncidents {
  @media (max-width: media-query(lg)) {
    margin-top: spacing(400);
  }
}
