@import '~@sparkpost/matchbox/src/styles/config.scss';

.TimeIcon {
  margin-right: spacing(small);
}

.Resolved {
  margin-bottom: spacing(larger);
  margin-top: 0;
}

.ResolvedCell {
  width: 40%;
}

.Table {
  font-size: font-size(300);
}
