@import '~@sparkpost/matchbox/src/styles/config.scss';

.TabPadding {
  padding: 0 spacing();
}

.LeadText {
  max-width: 60%;
  margin-bottom: 2rem;
  font-size: font-size(300);
  line-height: line-height(300);
}

.SecondaryActions {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: spacing();
  position: absolute;
  right: 0;
  top: 0;
}

.TabsWrapper {
  position: relative;
  > div {
    box-shadow: none;
  }
}

.LaunchIcon {
  margin-left: spacing();
  color: color(blue);
}
