@import '~@sparkpost/matchbox/src/styles/config.scss';

.TabPadding {
  padding: 0 spacing();
}

.LeadText {
  max-width: 60%;
  margin-bottom: 2rem;
  font-size: font-size(300);
  line-height: line-height(300);
}

.modalContainer {
  max-width: 600px;
  margin: 0 auto;
}

.bodyContainer {
  padding: 2rem 3rem;
}

.TabsWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e6;

  > div {
    box-shadow: none;
    height: 50px; // to match preview control bar and tabs
    border-bottom: none;

    > a {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.LaunchIcon {
  margin-left: spacing();
  color: color(blue);
}
