@import '~@sparkpost/matchbox/src/styles/config.scss';

.Heading,
.ApiHeading.ApiHeading {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.Result {
  display: flex;
  margin-bottom: spacing('large');
}

.ResultValue {
  text-transform: capitalize;
  font-size: 1.66rem;
  font-weight: 550;
}

.TabCharacter {
  padding-left: 1em;
}

.ApiHeading {
  font-size: 1rem;
  color: color(gray, 10);
}

.tableKey {
  width: 10rem;
  display: inline-block;
}

.table {
  max-width: 400px;
  margin-bottom: 2rem;
}

.CodeSnippet {
  color: color(blue, 'light');
  font-size: 0.75rem;
}

.WhiteText {
  color: color(gray, 9);
}

.Paragraph {
  line-height: 1.5em;
  margin-bottom: 2.5rem;
}

.ApiDescription {
  margin-bottom: 1.5rem;
  line-height: 1.5em;
}

// Specificity waaaars 💣💥
.ApiDescriptionLink.ApiDescriptionLink {
  color: #fff;
  text-decoration: underline;
}

.SubSection {
  padding: spacing('large');
}
